.change-input {
  height: 55px;
  width: 200px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border: none;
  outline: none;
  border-radius: 0px;
}

.save-changes {
  background-color: #006e78;
  color: #fff;
  border-radius: 0px;
}

.change-password-btn {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  background-color: #006e78;
  color: #fff;
  border-radius: 0px;
  height: 55px;
  width: 140px;
  border: none;
}

.change-password-btn:hover {
  background-color: #006e78;
  color: #fff;
}

.change-password-btn:target {
  background-color: #006e78;
  color: #fff;
}

.change-password-header {
  background-color: #006e78;
  color: #fff;
}

.save-settings-btn {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  background-color: #006e78;
  color: #fff;
  border-radius: 0px;
  height: 55px;
  width: 140px;
  border: none;
}

.save-settings-btn:hover {
  background-color: #006e78;
  color: black;
}

.save-password-btn {
  text-align: center !important;
  border-radius: 0px;
  color: #ffffff;
  background-color: #006e78;
  border: none;
  height: 40px;
  width: 120px;
}

.save-password-btn:hover {
  color: #ffffff;
  background-color: #006e78;
}
