.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.users {
  flex: 1;
  font-weight: 400;
  color: #0f6e77;
}

.no-users-text {
  text-align: center;
  margin-top: 40px;
}

.remove-user-btn {
  background-color: #fff;
  border: none;
  font-size: 20px;
}

.grid-center {
  display: flex !important;
  justify-content: center !important;
}

.flex-item-1 {
  background-color: #fff;
  padding: 5px;
  list-style-type: none !important;
  color: #53585f;
  box-shadow: 2px 2px 3px #cdcdcd;
  flex: 0.2;
}

.flex-item-2 {
  background-color: #fff;
  padding: 5px;
  list-style-type: none !important;
  color: #53585f;
  flex: 1;
}

.list {
  padding: 0;
  width: 100% !important;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.search-input {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 55px;
  width: 400px !important;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border: none;
  border-radius: 0px;
  outline: none;
  text-align: center;
}

.sub-title-text-utl {
  margin: 10px;
  font-weight: 300;
  display: flex;
  flex: 1;
  justify-content: space-between;
}

.remove-user-text {
  margin: 10px;
  font-weight: 300;
  display: flex;
  flex: 1;
  color: #CE4547;
}

.sub-title-utl {
  color: #006e78;
  font-weight: 400;
  margin-bottom: 30px;
}

.title-text-container {
  margin: 15px;
  font-weight: 500;
}

.button-tobe-link {
  background: none !important;
  margin: 15px;
  font-weight: 300 !important;
  color: #006e78;
  border: none;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
}

.button-tobe-link:hover {
  text-decoration: underline;
  color: #006e78;
}
